@model Project3_DatingSite.Models.ForgotPasswordViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
    ViewData["Title"] = "Forgot Password";
}

<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <hr />

        <form asp-controller="Account" asp-action="ForgotPassword" method="POST">
            <div class="form-group">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-primary" />
            </div>
        </form>

        <div>@ViewData["Message"]</div>

        <br />
        <a asp-controller="Account" asp-action="Login">Back to Login</a>
    </div>
</body>
</html>